.datepicker {
    position: absolute;
    top: 48px;
    left: 25%;
    width: 100vw;
}

.datepicker > h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 558px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 320px;
}

.datepicker > input {
    width: 558px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 360px;
    border: none;
  }

.datepicker > input:focus {
    outline-width: 0;
}

.datepicker > button {
    position: absolute;
    left: 0;
    top: 400px;
    text-transform: inherit !important;
    background-color: #132743;
    color: white;
    width: 558px;
  }

.datepicker > button:hover {
    background-color: #48bf91; /*green*/
    color: #132743; /*blue*/
  }
