.navbar__logo {
    width: 60px;
    object-fit: contain;
    border-radius: 100%;
    background-color: white;
    margin-right: 10px;
}
.navbar {
    background-color:#132743;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    border: none;
    border-radius: 0;
    padding: 5px 5px;
    margin-bottom: 0;
}

.navbar__search {
    display:flex;
    flex: 1;
    margin-right: 10px;
    flex-wrap: nowrap;
}
.navbar__search button {
    height:30px!important;
    width: 30px;
    padding: 5px;
    background-color:#48c77d;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search__bar {
    padding: 5px;
    height:30px;
    width:100%;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search__icon {
    height: 50%;
    width: auto;
}
.navbar__buttons {
    display: flex;
    justify-content: space-evenly;
}
.buttons__login, .buttons__bookings, .buttons__about {
    font-size: 1.7rem;
    font-weight: 900;
    margin: 0px 5px;
    color: white; /* blue = #132743 */
    text-shadow: 1px 1px 5px black;
    text-align: center;
}
.hello__user {
    text-decoration: none;
    color: white;
    display: block;
}
.sign__user {
    font-size: 1.25rem;
}

.divider{
    color: #48bf91; /*green*/
}
