.room {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}
.room-info:hover{
  background-color: #9ad3bc;
}

.room-info {
    background-color: rgba(72, 191, 145, 0.12); /*green*/
    color: #132743;
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
  }

  .room-info > h2 {
    font-size: 18px;
    font-weight: 600;
  }

  .room-info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .selected{
    background-color:#48c77d;
  }
  .selected:hover{
    background-color :#48c77d;
  }