/*general*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reco-title {
  padding: 30px;
  padding-left: 46px;
  padding-bottom: 0px;
  font-size: 30px;
  text-align: center;
  margin-top: 3.5%;
}

/*cards*/
.home-cards {
  display: flex;
  padding: 30px;
}
.home{
  height: 100%;
  color: white;
  width: 100%;
  background-image: linear-gradient(to top, #290001, white);
}
body{
  height: 100%;
  background-color: #290001;
}
