.searchresults-info {
  padding: 20px;
  }

.searchresults-info > p {
  margin-bottom: 10px;
  font-size: 14px;;
  }

.searchresults-info > h1 {
  margin-bottom: 30px;
  }
  .room__select:hover{
    background-color:#48c77d ;
  }
  .selected{
    background-color:red;
  }
  .selected:hover{
    background-color: red;
  }