.searchresults-info {
  padding: 20px;
  }

.searchresults-info > p {
  margin-bottom: 10px;
  font-size: 14px;;
  }

.searchresults-info > h1 {
  margin-bottom: 30px;
  }
.review__heading{
  margin-top:10px;
  margin-left:20px;
}

.heading {
  padding-left: 41px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 30px;
  }
