.searchresults-info {
  padding: 20px;
  }

.searchresults-info > p {
  margin-bottom: 10px;
  font-size: 14px;;
  }

.searchresults-info > h1 {
  margin-bottom: 30px;
  }
<<<<<<< HEAD
=======

>>>>>>> 33cf578963b0555bc653ae10c992c8de00cc0b8e
.review__heading{
  margin-top:10px;
  margin-left:20px;
}
<<<<<<< HEAD
=======

>>>>>>> 33cf578963b0555bc653ae10c992c8de00cc0b8e

.heading {
  padding-left: 41px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 30px;
  }
